
<div id = "main" ngClass="{{deviceType}}">
  <mat-toolbar color="primary" role="heading">
    <span>Dave's Family Gift Picker</span>
  </mat-toolbar>

  <mat-form-field>
    <mat-label>Select family</mat-label>
    <mat-select [(value)]="family">
      <mat-option *ngFor="let f of families" [value]="f">
        {{ f }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button 
    mat-raised-button 
    color="primary" 
    *ngIf="family != ''">Pull names from the hat!</button>
</div>

<router-outlet></router-outlet>
